@import url(reset.css);

*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.clearfix{
    clear: both;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

header> a{
    display: block;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    line-height: 24px;
}

header{
    height: 60px;
    padding: 6px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header> a svg{
    fill: #5f6368;
}
#images{
    padding: 0 15px;
}

#apps{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
}
#appas:hover{
    background-color: rgba(60, 64, 67, 0.8);
}
#sign-in{
    font-size: 14px;
    line-height: 1rem;
    font-weight: 500;
    background-color: rgb(26, 115, 232);
    padding: 9px 23px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    margin: 0 12px 0 8px;
    min-width: 96px;
}
#sign-in:hover{
    background-color: #1b66c9;
    box-shadow: 0 1px 3px 1px rgba(66,64,67,.15),0 1px 2px 0 rgba(60,64,67,.3);
}
#sign-in:hover{
    background-color: #1c5fba;
    box-shadow: 0 1px 3px 1px rgb(66 64 67 / 15%), 0 1px 2px 0 rgb(60 64 67 / 30%);
}
#sign-in:hover{
    background-color: #1b63c1;
    box-shadow: 0 1px 3px 1px rgb(66 64 67 / 15%), 0 1px 2px 0 rgb(60 64 67 / 30%);
}
